<h1 align = "center"> Discount Index</h1>
<%= link_to 'New Discount', new_merchant_discount_path %>
<section id="Discount table">
  <center>
  <table>
    <tr>
      <th>Discount ID</th>
      <th>Name</th>
      <th>Percent Off</th>
      <th>Number of Items</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
        <% @merchant.discounts.each do |discount| %>
          <% if !discount.id.nil? %>
            <section id="discount-<%=discount.id%>">
              <tr>
                <td><%=discount.id %></td>
                <td><%= link_to discount.name, merchant_discount_path(discount) %></td>
                <td><%=discount.percent %>%</td>
                <td><%=discount.id %></td>
                <td><%= link_to 'Edit', edit_merchant_discount_path(discount) %></td>
                <td><%= link_to 'Delete', merchant_discount_path(discount), method: :delete %></td>
              </tr>
            </section>
            <%end %>
        <%end %>

  </table>

</section>
