<h1>New Discount</h1>

<section id="new-discount-form">
  <%= form_for [@merchant, @discount] do |f| %>
    <%= f.label :quantity %>
    <%= f.number_field :quantity, min: 1 %> 
  
    <%= f.label :percent %>
    <%= f.number_field :percent, min: 1 %> 

    <%= f.submit %>
  <% end %>
</section>