<h1 align = "center"> Discount: <%=@discount.id %></h1>
<section id="Discount table">
  <center>
  <table>
    <tr>
      <th>Discount ID</th>
      <th>Name</th>
      <th>Percent Off</th>
      <th>Number of Items</th>
    </tr>
        <section id="discount-<%=@discount.id%>">
          <tr>
            <td><%=@discount.id %></td>
            <td><%=@discount.name %></td>
            <td><%=@discount.percent %>%</td>
            <td><%=@discount.id %></td>
          </tr>
        </section>
  </table>

</section>
